<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <h3 style="color:blue;">Djello</h3>
    </div>
    <div class="nav navbar-nav pull-right">
      <ul>
       <li><a class="nav-item" ui-sref="#">Sign Out</a></li>
      </ul>
    </div>
  </div>  
</nav>

{{ currentBoard.title }}

<div class="col-md-2 col-lg-2 side-bar">
  <div class="dropdown">
    <button class="btn btn-info btn-sm dropdown-toggle" type="button" data-toggle="dropdown">
            Your Boards
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu dropdown-menu-center">
      <li ng-repeat="board in boards | orderBy:'created_at'">
          <div ng-click="selectBoard(board)">
            <a ui-sref="board">{{board.title}}</a>
            <a href="#" ng-click="deleteBoard(board)">"X"</a>
          </div>
      </li>
    </ul>
  </div>

  <div>
    <br><br>
    <button class="btn btn-info btn-sm" type="button" data-toggle="modal" data-target="#myModal">
            Create a New Board
    </button>
  </div>

  <!-- Modal -->
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" 
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <button type="button" class="close" 
                   data-dismiss="modal">
                       <span aria-hidden="true">&times;</span>
                       <span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    New Board
                </h4>
            </div>
            
            <!-- Modal Body -->
            <div class="modal-body">
                
                <form class="form-horizontal" role="form">
                  <div class="form-group">
                    <label  class="col-sm-2 control-label"
                              for="inputEmail3">Name</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" 
                        id="board-title" placeholder="<board title>"/>
                    </div>
                  </div>
                </form>
            </div>
            
            <!-- Modal Footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-default"
                        data-dismiss="modal">
                            Close
                </button>
                <button type="button" class="btn btn-primary">
                    Save Board
                </button>
            </div>
        </div>
    </div>
</div>




  <!--Modal -->

</div>

<div class="container">
  <div class="row">
    <div ng-repeat="list in currentBoard.lists" show-list list="list"></div>
  </div>  
</div>

