<div class="col-xs-3 col-md-3 list-border list-background">
  </br>
  <h5>
  {{ list['title']}}
  <button type="button" class="pull-right btn btn-sm btn-danger" 
          ng-click="removeList()">X
  </button>
  </h5>
  </br>
  <!--<p>{{ list['description']}}</p>-->
  <div ng-repeat="card in list.cards" show-card card="card"
       remove-card="removeCard({card: card})">
  </div>
  <br>

  <button class="btn btn-info btn-sm" type="button" 
          data-toggle="modal" data-target="#cardModal" 
          ng-click="newCard()"> Add Card
  </button>
  <br><br>
</div>

